 /* CSS HEX 
--#5431aa: #5431aa;
--#522ac9: #522ac9;
--#f96606: #f96606;
--#1c1219: #1c1219;
--#dad5e1: #dad5e1;
--#9676c1: #9676c1;
--#382365: #382365;
--#5420da: #5420da;
--#aa5336: #aa5336;

SCSS HEX
$#5431aa: #5431aa;
$#522ac9: #522ac9;
$#f96606: #f96606;
$#1c1219: #1c1219;
$#dad5e1: #dad5e1;
$#9676c1: #9676c1;
$#382365: #382365;
$#5420da: #5420da;
$#aa5336: #aa5336;

SCSS RGB 
$#5431aa: rgba(84,49,170,1);
$#522ac9: rgba(82,42,201,1);
$#f96606: rgba(249,102,6,1);
$#1c1219: rgba(28,18,25,1);
$#dad5e1: rgba(218,213,225,1);
$#9676c1: rgba(150,118,193,1);
$#382365: rgba(56,35,101,1);
$#5420da: rgba(84,32,218,1);
$#aa5336: rgba(170,83,54,1);
*/
    body{
        background-color: whitesmoke;
    }

    .carousel-item{
        height: 32rem;

    }
    .navbar-collapse{
        background-color: #5431aa;
    }
    .navbar {
        background-color: #5431aa;
    }
    .navbar-toggler{
        background-color: white;
    }
    .logotext{
        color: white;
    }
    .overlay-image {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-position: center;
            background-size: cover;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.5);
            

    }
    .overlay-image:after {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:rgba(0,0,0,0.6);
    }
    ul{
            list-style: none;
    }

    .daftar {
        background-color: #522ac9;
        color: white;
    }

    .daftar:hover{
        background-color: #3c1f92;

    }

    .card-cover{
        min-height: 300px;
        background-position: center;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.7); 
        background-blend-mode: multiply;
        
    }

    .btn-keahlian{
        background-color: #522ac9;
        color: white;
    }
    .btn-keahlian:hover{
        background-color: #382365;
    }
    .btnnav{
        background-color: #5431aa;
        color: white;
        border: 0;
    }
    .btnnav:hover{
        background-color: #382365 ;
        border: 0;
        color: white;
    }
    .card-header{
        background-color: #5229CB;
    }
    .visi{
        color: white;
    }

    .custom-carousel-prev,
    .custom-carousel-next {
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    }

.custom-carousel-prev {
    left: -50px;
}

.custom-carousel-next {
    right: -50px;
}

.beritaform{
    background-color: #5229CB;
}

    @media (max-width: 768px) {
    .custom-carousel-prev {
        left: 10px;
    }

    .custom-carousel-next {
        right: 10px;
    }
}

.news-img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}